extends layout

block content
    h2 List of Your Notes:
    h3 Hey! You have #{notes.length} notes

    style.
             p { color: #ffa500; font-weight: bold }
             p1 { color: #363636; font-weight: normal }

    each note in notes
         p Note Title:
                        p1  #{note.title}
         p Note Body:
                        p1  #{note.body}
